//“Probability of Detection”
//Some CP2 scenarios may be designed to have 100% probability of detection while others may have a lower, non-zero probability of detection
//T&E will evaluate a “probability of detection” guarantee provided by performers by measuring the percentage of T&E iterations resulting in adversary detection for a given CP2 scenario
//Furthermore, T&E will assess the scalability guarantees shown for iterations which were detected
//Looking to assess: “What is the probability of detection, and if detected, what is the expected value of x?”

//Number of messages (files)
//Number of files successfully received and acknowledged by Bob at the time of detection
// May provide multiple values, one for each adversary profile (multiple may be running during same test)

// Parameter Groups:
// qps: k={{ k_qps }}, n={{ n_qps }}, s={{ s_qps }}, w={{ w_qps }}
// qsize: k={{ k_qsize }}, n={{ n_qsize }}, s={{ s_qsize }}, w={{ w_qsize }}
// respsize: k={{ k_respsize }}, n={{ n_respsize }}, s={{ s_respsize }}, w={{ w_respsize }}
// uploadrate: k={{ k_uploadrate }}, n={{ n_uploadrate }}, s={{ s_uploadrate }}, w={{ w_uploadrate }}
// Global: start_time={{ start_time }}
// Cumulative Thresholds:
// C.1: {{ N_query_pre_nat }}
// C.2: {{ N_query_post_nat }}
// C.3: {{ N_query_size_pre_nat }}
// C.4: {{ N_query_size_post_nat }}
// C.5: {{ N_response_pre_nat }}
// C.6: {{ N_response_post_nat }}
// C.7: {{ N_http_conn_pre_nat }}
// C.8: {{ N_http_conn_post_nat }}
// C.9: {{ N_http_upload_pre_nat }}
// C.10: {{ N_http_upload_post_nat }}

ExfilFilesC1() = if (s.rval("getToDCumulativeNQueryPreNAT(C,{{ N_query_pre_nat }})") == 0.0) then discard
                 else s.rval("getExfilFiles(getMonitor(C), getToDCumulativeNQueryPreNAT(C,{{ N_query_pre_nat }}))") fi;
ExfilFilesC2() = if (s.rval("getToDCumulativeNQueryPostNAT(C,{{ N_query_post_nat }})") == 0.0) then discard
                 else s.rval("getExfilFiles(getMonitor(C), getToDCumulativeNQueryPostNAT(C,{{ N_query_post_nat }}))") fi;
ExfilFilesC3() = if (s.rval("getToDCumulativeQuerySizePreNAT(C,{{ N_query_size_pre_nat }})") == 0.0) then discard
                 else s.rval("getExfilFiles(getMonitor(C), getToDCumulativeQuerySizePreNAT(C,{{ N_query_size_pre_nat }}))") fi;
ExfilFilesC4() = if (s.rval("getToDCumulativeQuerySizePostNAT(C,{{ N_query_size_post_nat }})") == 0.0) then discard
                 else s.rval("getExfilFiles(getMonitor(C), getToDCumulativeQuerySizePostNAT(C,{{ N_query_size_post_nat }}))") fi;
ExfilFilesC5() = if (s.rval("getToDCumulativeResponsePreNAT(C,{{ N_response_pre_nat }})") == 0.0) then discard
                 else s.rval("getExfilFiles(getMonitor(C), getToDCumulativeResponsePreNAT(C,{{ N_response_pre_nat }}))") fi;
ExfilFilesC6() = if (s.rval("getToDCumulativeResponsePostNAT(C,{{ N_response_post_nat }})") == 0.0) then discard
                 else s.rval("getExfilFiles(getMonitor(C), getToDCumulativeResponsePostNAT(C,{{ N_response_post_nat }}))") fi;
ExfilFilesC7() = if (s.rval("getToDCumulativeHttpConnectionPreNAT(C,{{ N_http_conn_pre_nat }})") == 0.0) then discard
                 else s.rval("getExfilFiles(getMonitor(C), getToDCumulativeHttpConnectionPreNAT(C,{{ N_http_conn_pre_nat }}))") fi;
ExfilFilesC8() = if (s.rval("getToDCumulativeHttpConnectionPostNAT(C,{{ N_http_conn_post_nat }})") == 0.0) then discard
                 else s.rval("getExfilFiles(getMonitor(C), getToDCumulativeHttpConnectionPostNAT(C,{{ N_http_conn_post_nat }}))") fi;
ExfilFilesC9() = if (s.rval("getToDCumulativeHttpUploadPreNAT(C,{{ N_http_upload_pre_nat }})") == 0.0) then discard
                 else s.rval("getExfilFiles(getMonitor(C), getToDCumulativeHttpUploadPreNAT(C,{{ N_http_upload_pre_nat }}))") fi;
ExfilFilesC10() = if (s.rval("getToDCumulativeHttpUploadPostNAT(C,{{ N_http_upload_post_nat }})") == 0.0) then discard
                 else s.rval("getExfilFiles(getMonitor(C), getToDCumulativeHttpUploadPostNAT(C,{{ N_http_upload_post_nat }}))") fi;
ExfilFilesMA1() = if (s.rval("getToD(C,{{ start_time }},{{ w_qps }},{{ s_qps }},{{ k_qps }},{{ n_qps }})") == 0.0) then discard
                 else s.rval("getExfilFiles(getMonitor(C), getToD(C,{{ start_time }},{{ w_qps }},{{ s_qps }},{{ k_qps }},{{ n_qps }}))") fi;
ExfilFilesMA2() = if (s.rval("getToDAvgQuerySize(C,{{ start_time }},{{ w_qsize }},{{ s_qsize }},{{ k_qsize }},{{ n_qsize }})") == 0.0) then discard
                 else s.rval("getExfilFiles(getMonitor(C), getToDAvgQuerySize(C,{{ start_time }},{{ w_qsize }},{{ s_qsize }},{{ k_qsize }},{{ n_qps }}))") fi;
ExfilFilesMA3() = if (s.rval("getToDAvgResponseSize(C,{{ start_time }},{{ w_respsize }},{{ s_respsize }},{{ k_respsize }},{{ n_respsize }})") == 0.0) then discard
                 else s.rval("getExfilFiles(getMonitor(C), getToDAvgResponseSize(C,{{ start_time }},{{ w_respsize }},{{ s_respsize }},{{ k_respsize }},{{ n_respsize }}))") fi;
ExfilFilesMA4() = if (s.rval("getToDAvgUploadRate(C,{{ start_time }},{{ w_uploadrate }},{{ s_uploadrate }},{{ k_uploadrate }},{{ n_uploadrate }})") == 0.0) then discard
                 else s.rval("getExfilFiles(getMonitor(C), getToDAvgUploadRate(C,{{ start_time }},{{ w_uploadrate }},{{ s_uploadrate }},{{ k_uploadrate }},{{ n_uploadrate }}))") fi;

//Operating duration
//Length of time system operated until adversary alarm, in seconds
//May provide multiple values, one for each adversary profile (multiple may be running during same test)

OpDurationC1() = if (s.rval("getToDCumulativeNQueryPreNAT(C,{{ N_query_pre_nat }})") == 0.0) then discard
                else s.rval("getToDCumulativeNQueryPreNAT(C,{{ N_query_pre_nat }}) - getExfilStartTime(getMonitor(C))") fi;
OpDurationC2() = if (s.rval("getToDCumulativeNQueryPostNAT(C,{{ N_query_post_nat }})") == 0.0) then discard
                else s.rval("getToDCumulativeNQueryPostNAT(C,{{ N_query_post_nat }}) - getExfilStartTime(getMonitor(C))") fi;
OpDurationC3() = if (s.rval("getToDCumulativeQuerySizePreNAT(C,{{ N_query_size_pre_nat }})") == 0.0) then discard
                else s.rval("getToDCumulativeQuerySizePreNAT(C,{{ N_query_size_pre_nat }}) - getExfilStartTime(getMonitor(C))") fi;
OpDurationC4() = if (s.rval("getToDCumulativeQuerySizePostNAT(C,{{ N_query_size_post_nat }})") == 0.0) then discard
                else s.rval("getToDCumulativeQuerySizePostNAT(C,{{ N_query_size_post_nat }}) - getExfilStartTime(getMonitor(C))") fi;
OpDurationC5() = if (s.rval("getToDCumulativeResponsePreNAT(C,{{ N_response_pre_nat }})") == 0.0) then discard
                else s.rval("getToDCumulativeResponsePreNAT(C,{{ N_response_pre_nat }}) - getExfilStartTime(getMonitor(C))") fi;
OpDurationC6() = if (s.rval("getToDCumulativeResponsePostNAT(C,{{ N_response_post_nat }})") == 0.0) then discard
                else s.rval("getToDCumulativeResponsePostNAT(C,{{ N_response_post_nat }}) - getExfilStartTime(getMonitor(C))") fi;
OpDurationC7() = if (s.rval("getToDCumulativeHttpConnectionPreNAT(C,{{ N_http_conn_pre_nat }})") == 0.0) then discard
                else s.rval("getToDCumulativeHttpConnectionPreNAT(C,{{ N_http_conn_pre_nat }}) - getExfilStartTime(getMonitor(C))") fi;
OpDurationC8() = if (s.rval("getToDCumulativeHttpConnectionPostNAT(C,{{ N_http_conn_post_nat }})") == 0.0) then discard
                else s.rval("getToDCumulativeHttpConnectionPostNAT(C,{{ N_http_conn_post_nat }}) - getExfilStartTime(getMonitor(C))") fi;
OpDurationC9() = if (s.rval("getToDCumulativeHttpUploadPreNAT(C,{{ N_http_upload_pre_nat }})") == 0.0) then discard
                else s.rval("getToDCumulativeHttpUploadPreNAT(C,{{ N_http_upload_pre_nat }}) - getExfilStartTime(getMonitor(C))") fi;
OpDurationC10() = if (s.rval("getToDCumulativeHttpUploadPostNAT(C,{{ N_http_upload_post_nat }})") == 0.0) then discard
                else s.rval("getToDCumulativeHttpUploadPostNAT(C,{{ N_http_upload_post_nat }}) - getExfilStartTime(getMonitor(C))") fi;
OpDurationMA1() = if (s.rval("getToD(C,{{ start_time }},{{ w_qps }},{{ s_qps }},{{ k_qps }},{{ n_qps }})") == 0.0) then discard
                else s.rval("getToD(C,{{ start_time }},{{ w_qps }},{{ s_qps }},{{ k_qps }},{{ n_qps }}) - getExfilStartTime(getMonitor(C))") fi;
OpDurationMA2() = if (s.rval("getToDAvgQuerySize(C,{{ start_time }},{{ w_qsize }},{{ s_qsize }},{{ k_qsize }},{{ n_qsize }})") == 0.0) then discard
                else s.rval("getToDAvgQuerySize(C,{{ start_time }},{{ w_qsize }},{{ s_qsize }},{{ k_qsize }},{{ n_qsize }}) - getExfilStartTime(getMonitor(C))") fi;
OpDurationMA3() = if (s.rval("getToDAvgResponseSize(C,{{ start_time }},{{ w_respsize }},{{ s_respsize }},{{ k_respsize }},{{ n_respsize }})") == 0.0) then discard
                else s.rval("getToDAvgResponseSize(C,{{ start_time }},{{ w_respsize }},{{ s_respsize }},{{ k_respsize }},{{ n_respsize }}) - getExfilStartTime(getMonitor(C))") fi;
OpDurationMA4() = if (s.rval("getToDAvgUploadRate(C,{{ start_time }},{{ w_uploadrate }},{{ s_uploadrate }},{{ k_uploadrate }},{{ n_uploadrate }})") == 0.0) then discard
                else s.rval("getToDAvgUploadRate(C,{{ start_time }},{{ w_uploadrate }},{{ s_uploadrate }},{{ k_uploadrate }},{{ n_uploadrate }}) - getExfilStartTime(getMonitor(C))") fi;

// Probability of detection
PoDC1() = s.rval("getPoDCumulativeNQueryPreNAT(C,{{ N_query_pre_nat }})");
PoDC2() = s.rval("getPoDCumulativeNQueryPostNAT(C,{{ N_query_post_nat }})");
PoDC3() = s.rval("getToDCumulativeQuerySizePreNAT(C,{{ N_query_size_pre_nat }})");
PoDC4() = s.rval("getToDCumulativeQuerySizePostNAT(C,{{ N_query_size_post_nat }})");
PoDC5() = s.rval("getToDCumulativeResponsePreNAT(C,{{ N_response_pre_nat }})");
PoDC6() = s.rval("getToDCumulativeResponsePostNAT(C,{{ N_response_post_nat }})");
PoDC7() = s.rval("getToDCumulativeHttpConnectionPreNAT(C,{{ N_http_conn_pre_nat }})");
PoDC8() = s.rval("getPoDCumulativeHttpConnectionPostNAT(C,{{ N_http_conn_post_nat }})");
PoDC9() = s.rval("getToDCumulativeHttpUploadPreNAT(C,{{ N_http_upload_pre_nat }})");
PoDC10() = s.rval("getToDCumulativeHttpUploadPostNAT(C,{{ N_http_upload_post_nat }})");
PoDMA1() = s.rval("getPoDAvgQPS(C,{{ start_time }},{{ w_qps }},{{ s_qps }},{{ k_qps }},{{ n_qps }})");
PoDMA2() = s.rval("getPoDAvgQPS(C,{{ start_time }},{{ w_qsize }},{{ s_qsize }},{{ k_qsize }},{{ n_qsize }})");
PoDMA3() = s.rval("getPoDAvgQPS(C,{{ start_time }},{{ w_respsize }},{{ s_respsize }},{{ k_respsize }},{{ n_respsize }})");
PoDMA4() = s.rval("getPoDAvgQPS(C,{{ start_time }},{{ w_uploadrate }},{{ s_uploadrate }},{{ k_uploadrate }},{{ n_uploadrate }})");

//Rate of messages (files)
//Number of files divided by operating duration
//May provide multiple values, one for each adversary profile (multiple may be running during same test)
